<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="myCoach" class="kaustav.springdemo.TrackCoach"></bean>
    
    <bean id="myLoggerConfig" class="kaustav.springdemo.MyloggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <bean id="dependable" class="kaustav.dependdancyInjection.Dependable"/> 
    <bean id="dependant" class="kaustav.dependdancyInjection.Dependant">
      <constructor-arg ref="dependable"></constructor-arg>
    </bean>
    
    <bean id="SetterDependable" class="kaustav.dependdancyInjection.SetterDependable">
      <property name="dependable" value="This is the dependable class."/>
    </bean> 
    <bean id="SetterDependant" class="kaustav.dependdancyInjection.SetterDependant">
      <property name="dependant" ref="SetterDependable"/>
    </bean>
    
</beans>





